{% extends "::base.html.twig" %}

{% block title %}WeekiesWeekiesBundle:Suggester:setup{% endblock %}

{% block body %}
<h1>Welcome to the Suggester:setup page</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{{ message }}
{% endblock %}
